<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="Identifier">
            Components / Notification
        </div>
        <div class="title">
            Notification
        </div>
        <div class="main-para">
            <!-- Replace with actual content -->
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Angular Notification service delivers a range of handy and developer-friendly features whose number and further development are not limited by the list in this section. The Kendo UI for Angular team constantly invests efforts to improve the performance and add more value to the existing Notification library as well as develop new features to it.</li>
            </ul>
        </div>
        <div class="sub-title">
            Example
        </div>
        <button kendoButton (click)="show()">Save data</button>
        <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                <!--use &lt, &gt for display the code in text format -->
                &lt;button kendoButton (click)="show()"&gt; <br>
                Saved Data <br>
                &lt;/button&gt; 
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>
