<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="title">
            Grid
        </div>
        <div class="main-para">
            <!-- Replace with actual content -->
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>All grids should fill to stretch its parent’s width.</li>
                <li>All grids should fill the available screen height.</li>
                <li>A header column should be draggable, for a user to expand or shrink content.</li>
                <li>If grouping is required, it should be applied as in the screen above.</li>
                <li>Horizontal scrolling should be applied depending on screen real state and content and not as
                    default.</li>
                <li>All columns should be sortable.</li>
                <li>Virtual scrolling should be added for pagination.</li>
            </ul>
        </div>
        <div class="sub-title">
            Example
        </div>
        <kendo-grid [data]="gridData">
            <kendo-grid-column field="ProductID" title="ID"> </kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
            <kendo-grid-column field="Category.CategoryName" title="Category"></kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
        </kendo-grid>
        <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                <!--use &lt, &gt for display the code in text format -->
                &lt;kendo-grid [data]="gridData"&gt; <br>
                &lt;kendo-grid-column field="ProductID" title="ID"&gt; &lt;/kendo-grid-column&gt;<br>
                &lt;kendo-grid-column field="ProductName" title="Name"&gt; &lt;/kendo-grid-column&gt;<br>
                &lt;kendo-grid-column field="Category.CategoryName" title="Category"&gt;&lt;/kendo-grid-column&gt;<br>
                &lt;kendo-grid-column field="UnitPrice" title="Price"&gt; &lt;/kendo-grid-column&gt;<br>
                &lt;/kendo-grid&gt;
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>