<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="title">
            Date Picker
        </div>
        <div class="main-para">
            <!-- Replace with actual content -->
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>A datepicker’s input should stretch to fill its parent width.</li>
                <li>No custom px width should be defined.</li>
                <li>A datepicker should be vertically aligned to its relevant label.</li>
                <li>The selected date should in its entirety and not cropped inside of the input.</li>
            </ul>
        </div>
        <div class="sub-title">
            Example
        </div>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
        <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                <!--use &lt, &gt for display the code in text format -->
                &lt;kendo-datepicker placeholder="Choose a date ...&gt; <br>
                &lt;/kendo-datepicker&gt;
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>