<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="title">
            Getting Started
        </div>
        <p class="main-para">
             <!-- Replace with actual content -->
            Lorem ipsum dolor sit amet consectetur. Et a enim fermentum pellentesque elit. Tellus blandit dignissim
            ligula lorem porta ac adipiscing ultricies. Faucibus ultricies augue viverra nunc dictum interdum. In
            pretium leo vitae tristique hendrerit neque nisl interdum dolor sit amet consectetur. Et a enim fermentum
            pellentesque elit. Tellus blandit dignissim ligula lorem porta ac adipiscing ultricies. Faucibus ultricies
            augue viverra
            nunc dictum interdum. In pretium leo vitae tristique hendrerit neque nisl interdum..
        </p>
        <div class="sub-title">
            Setup Project
        </div>
        <p class="sub-para">
             <!-- Replace with actual content -->
            Lorem ipsum dolor sit amet consectetur. Et a enim fermentum pellentesque elit. Tellus blandit dignissim
            ligula lorem porta ac adipiscing ultricies. Faucibus ultricies augue viverra nunc dictum interdum. In
            pretium leo vitae tristique hendrerit neque nisl interdum dolor sit amet consectetur. Et a enim fermentum
            pellentesque elit. Tellus blandit dignissim ligula lorem porta ac adipiscing ultricies. Faucibus ultricies
            augue viverra
            nunc dictum interdum. In pretium leo vitae
        </p>
         <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                 <!-- Replace with actual code snippet -->
                npm install -g @angular/cli
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>