<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="title">
            Checkbox
        </div>
        <div class="main-para">
            <!-- Replace with actual content -->
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Check boxes could be aligned vertically or horizontally depending on layout and space availability.
                </li>
                <li>A minimum of 15px should be kept between boxes.</li>
            </ul>
        </div>
        <div class="sub-title">
            Example
        </div>
        <kendo-label class="k-checkbox-label" [for]="notification" text="Allow Notifications"></kendo-label>
        <input type="checkbox" #notification kendoCheckBox />
        <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                <!--use &lt, &gt for display the code in text format -->
                &lt;kendo-label class="k-checkbox-label" [for]="notification" text="Allow Notifications"&gt; <br>
                &lt;/kendo-label&gt; <br>
                &lt;input type="checkbox" #notification kendoCheckBox /&gt;
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>