<div class="main-container">
    <kendo-card width="1000px">
        <!-- Main Content -->
        <div class="Identifier">
            Components / Switch
        </div>
        <div class="title">
            Switch
        </div>
        <div class="main-para">
            <!-- Replace with actual content -->
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>The Switch provides options for setting and styling the titles of its labels.</li>
            </ul>
        </div>
        <div class="sub-title">
            Example
        </div>
        <kendo-label text="Labels">
            <kendo-switch onLabel="Yes" offLabel="No"></kendo-switch>
        </kendo-label>
        <!-- Code Demo Container -->
        <div class="demo-container">
            <div class="code">
                <!--use &lt, &gt for display the code in text format -->
                &lt;kendo-label text="Labels"&gt; <br>
                &lt;kendo-switch onLabel="Yes" offLabel="No"&gt; <br>
                &lt;/kendo-switch&gt; <br>
                &lt;/kendo-label&gt; 
                <button kendoButton (click)="onButtonClick()">copy</button>
            </div>
        </div>
    </kendo-card>
</div>